body * {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.button {
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    background: linear-gradient(90deg,#12FF00, #3FF883);
    margin: 4px 2px;
    color: white;
    cursor: pointer;
    outline: none;
    height: 40px;
}

.btn-reset {
    background: linear-gradient(90deg, #FF0000, #FF5F56, #FF8E71);
 }

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


input {
    margin-right: 20px;
    border: 0;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
    width: 195px;
    outline: none;
    background: none;
}

input::placeholder {
    color: #000000;
}

.people-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 55px;
    margin: 0;
    border-radius: 50px;
    padding: 10px 30px;
    background: linear-gradient(-90deg, #00FFFF, #0049ff);
    color: white;
}



.allPeople {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
}

.margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.margin-bottom {
    margin-bottom: 40px;
}

#add-people {
    display: none;
}


.flying-btn {
    position: absolute;
    bottom: 0;
}

.margin-top {
    margin-top: 70px;
}

.value {
    color: #ffffff;
    font-size: 20px;
}

.people {
    min-width: 160px;
    padding: 5px 12px;
    background: linear-gradient(90deg, #5400FF, #A67CFE);
    border-radius: 50px;
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-name{
    vertical-align: bottom;
    display: inline-block;
}
.img-age{
    vertical-align: bottom;
    display: inline-block;
}
.img-button{
    margin-right: 4px;
}
#btn-reset-container{
    display: flex;
    align-items: center;
}

.strangeTheme-btn{
 background: #007dff;
}

.strangeTheme-btn-reset{
 background: #ffa400;
}

.strangeTheme-title{
    font-size: 55px;
    margin: 0;
    border-radius: 50px;
    padding: 10px 30px;
    background: #00ff39;
    color: white;
}

.strangeTheme-people-list{
    min-width: 160px;
    padding: 5px 12px;
    background: #9d53ac;
    border-radius: 50px;
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neonTheme-btn{
    box-shadow: 0 0 5px 2px greenyellow;
    background: none;
}

.neonTheme-btn-reset{
    box-shadow: 0 0 5px 2px orange;
    background: none;
}

.neonTheme-title{
    font-size: 55px;
    margin: 0;
    border-radius: 50px;
    padding: 10px 30px;
    box-shadow: 0 0 20px 5px #5edafd;
    color: white;
    background: none;
}

.neonTheme-people-list{
    min-width: 160px;
    padding: 5px 12px;
    background: none;
    box-shadow: 0 0 8px 2px red;
    border-radius: 50px;
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usual-theme-btn{
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    background: linear-gradient(90deg,#12FF00, #3FF883);
    margin: 4px 2px;
    color: white;
    cursor: pointer;
    outline: none;
    height: 40px;}

.usual-theme-btn-reset{
    background: linear-gradient(90deg, #FF0000, #FF5F56, #FF8E71);
}

.usual-theme-title{
    font-size: 55px;
    margin: 0;
    border-radius: 50px;
    padding: 10px 30px;
    background: linear-gradient(90deg, #00FFFF, #0049ff);
    color: white;
}

.usual-theme-people-list{
    min-width: 160px;
    padding: 5px 12px;
    background: linear-gradient(90deg, #5400FF, #A67CFE);
    border-radius: 50px;
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.simpleTheme-btn{
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    background: #5DFB51;
    margin: 4px 2px;
    color: white;
    cursor: pointer;
    outline: none;
    height: 40px;}

.simpleTheme-btn-reset{
    background: #FF5656;
}

.simpleTheme-title{
    font-size: 55px;
    margin: 0;
    border-radius: 50px;
    padding: 10px 30px;
    background: #FFC154;
    color: white;
}

.simpleTheme-people-list{
    min-width: 160px;
    padding: 5px 12px;
    background: #5465FF;
    border-radius: 50px;
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.position-relative {
    width: 150px;
    height: 1300000px;
    position: relative;
    bottom: 890px;
    left: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-theme{
    width: 80px;
    height: 80px;
    margin-bottom: 3px;
    border-radius: 25px;
    background: white;
}
